body {
  background-color: aliceblue;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%
}
h1 {color: #764ba2;}
h3 {color: #764ba2;}
h4 {color: #764ba2;}
